// colors
$board-background: #2ba28cb8;
$border: #298675;
$blue-piece: rgba(10, 10, 98, 0.9374124649859944);
$blue-highlight: rgba(10, 10, 98, 0.53);
$red-piece: rgba(162, 11, 11, 0.937412465);
$red-highlight: rgba(162, 11, 11, 0.53);
$red-lighter-piece: #ffd400;
$blue-lighter-piece: rgba(0,212,255,1);
$border-color-blue: rgba(6, 3, 47, 0.95);
$border-color-red: rgba(111, 25, 11, 0.97);
$piece-shadow: #00000082;
$black: rgba(0,0,0,0.5);
$header: #316c98b0;
