@import "~src/app/styles/constants";

.board {
  background: $board-background;
  height: 100%;
  width: fit-content;

  .board-row {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .board-col {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
