<div class="container mb-2">
  <div class="row text-center justify-content-center mt-4 mb-4 header">
    Connect 4 The Game
  </div>
  <div class="row form justify-content-center mb-4">
    <span class="description mr-2">How many pieces do you want to connect? </span>
    <div class="col-12">
      <div class="row justify-content-center">
        <div *ngFor="let item of connectNOptions" class="card mr-1 ml-1" (click)="setConnectN(item)" [ngClass]="{'active': item === connectN}">{{item}}</div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-4 players" *ngIf="!winner && !draw">
    <div class="col-sm-6 col-12 d-flex justify-content-center justify-content-sm-end">
      <div class="mr-2">Player 1</div>
      <div class="circle red"></div>
    </div>
    <div class="col-sm-6 col-12 d-flex justify-content-center justify-content-sm-start mt-2 mt-sm-0">
      <div class="circle blue"></div>
      <div class="ml-2">Player 2</div>
    </div>
  </div>
  <div class="row justify-content-center mb-5 mb-sm-4 message"
       *ngIf="winner"
       [ngClass]="{'red': winner.identifier === PlayerIdentifiers.p1, 'blue': winner.identifier === PlayerIdentifiers.p2}">
    <div>{{winner.name}} Won!</div>
  </div>
  <div class="row justify-content-center mb-4 mb-sm-4 message green"
       *ngIf="draw">
    <div>It's a Draw!</div>
  </div>
  <div class="board-container">
    <div class="container board" [ngStyle]="gridSize">
      <div *ngFor="let row of boardMatrix; let x = index">
        <div *ngFor="let item of row">
          <app-piece (click)="onClick(x)" [item]="item" [activePlayer]="activePlayer"></app-piece>
        </div>
      </div>
      <div class="overlay" *ngIf="winner || draw"></div>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <button type="button" class="btn btn-dark mr-3 col-4 col-sm-3 col-lg-2" (click)="undoTurn()" [disabled]="winner || disableUndoButton || draw">
      Undo turn
    </button>
    <button type="button" class="btn btn-primary ml-3 col-4 col-sm-3 col-lg-2" (click)="resetGame()">
      New Game
    </button>
  </div>
</div>
