@import "~src/app/styles/constants";

.header {
  color: $header;
  font-size: 3rem;
  font-weight: bold;
  margin: auto;
}

.players {
  font-size: 2rem;
  font-weight: bold;

  .circle {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;

    &.red {
      background-color: $red-piece;
    }

    &.blue {
      background-color: $blue-piece;
    }
  }
}

.player-congratulation {
  font-size: 2rem;
  font-weight: bold;

  &.red {
    color: $red-piece;
  }

  &.blue {
    color: $blue-piece;
  }
}

.board {
  display: grid;
  background: $board-background;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.7rem;
  height: 100%;
  position: relative;
  width: fit-content;

  .overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    z-index: 2;
  }
}

@media (max-width: 600px) {
  .content {
    flex: 0 0 100%;
    width: fit-content;
  }
}
