@import "~src/app/styles/constants";

.circle {
  background-color: white;
  border-radius: 50%;
  margin-top: 0.5rem;
  height: 3rem;
  width: 3rem;
}

.p1 {
  background-color: $red-piece
}

.p2 {
  background-color: $blue-piece;
}

.p1-highlight {
  background-color: $red-highlighted-piece;
}

.p2-highlight {
  background-color: $blue-highlighted-piece;
}
